<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>indec</title>

</head>
<body>
    <h1>Home Page</h1>

    <ul>
        {% for todo in todos %}
        <li>{{todo.title}} - <button class="delete-todo" data-id="{{todo.id}}">X</button></li>
        {% endfor %}
    </ul>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8= sha256-T+aPohYXbm0fRYDpJLr+zJ9RmYTswGsahAoIsNiMld4=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>

<script src="static/todos.js"></script>
</body>



</html>