/* 
.ball {
  padding: 20px;
  margin: 20px;
  background-color: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 8px;
} */