body{
    background-color: rgb(0, 0, 0);
    display: flex ;
    justify-content: center;
}

h1{
    background-color: white;
    width: 730px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input, button{
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: solid 2px rgb(255, 255, 255);
}

.input{
    background-color: green;
    font-weight: bolder;
}

.button{
    background-color: red;
    font-weight: bolder;
}

#gif-row {
    width: 100%;
    height: 500px;
    border: solid 2px black;
    background-color: goldenrod;
    grid-row: inherit;
    
}

#gif-box{
    width:200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    background-color: bisque;
    border: solid 2px black;
}   

.w-100 {
    border: solid 2px white;
    display: flex;
    margin:auto;
}

