{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    <h1>Hi there!!</h1>

    <p>There is a secret page you can enter if you sign up through our 'Sign Up' button above</p>
    <!-- <div>
        <p>Have you been here before?</p>
        <a href="{{ url_for('login_user') }}"><button>login</button></a>
    </div>
    <div>
        <p>If not, please register!</p>
        <a href="{{ url_for('register_user') }}"><button>Create Account</button></a>
    </div> -->



{% endblock %}












