{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    <h1>You are now on the secret page, YOU MADE IT</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}

        <button class="btn btn-success" type="submit">Post Feedback</button>
    </form>

    <ul>
        {% for feedback in feedback %}
        <div class="card">
            <div class="card-body">
                <li>{{ feedback.user.username }} - {{ feedback.title }}:{{ feedback.content }}

                 {% if session['user_id'] == feedback.user_id %}
                <form style="display:inline;" action="/secret/{{feedback.id}}" method="POST">
                
                <button class="btn btn-sm btn-danger">X</button>
            </form>
            {% endif %}
        </li>
        </div>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
