<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sponsor Form</title>
</head>
<body>

    <h1>Add a Sponsor to our list</h1>
<form action="/add_sponsor" method="POST">
    <input type="text" name="sponsor_name" placeholder="Sponsor Name" required>
    <button type="submit">Add Sponsor</button>
</form>
    
    <a href="/sponsor_list"><button>Back to Sponsor List</button></a>
</body>
</html>